<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a> 
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
 
    <script src='js/device.min.js'></script> 
</head>

<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>

        <div id="stuck_container" class="stuck_container">
            <div class="container">

                <div class="brand">
                    <h1 class="brand_name">
                        <a href="./">Makanan Pokoknya!</a>
                    </h1>
                </div>

                <nav class="nav">
                    <ul class="sf-menu">
                        <li>
                            <a href="./">Home</a>
                        </li>
                        <li class="active">
                            <a href="index-1.html">About</a>
                            <ul>
                                <li>
                                    <a href="#">a Few</a>
                                </li>
                                <li>
                                    <a href="#">Good Food</a>
                                </li>
                                <li>
                                    <a href="#">Why</a>
                                </li>
                                <li>
                                    <a href="#">VOur Client</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index-2.html">What We Do</a>
                        </li>
                        <li>
                            <a href="index-3.html">Menu</a>
                        </li>
                        <li>
                            <a href="index-4.html">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well well__offset-3">
            <div class="container">
                <h2><em>A Few</em>Words</h2>
                <div class="row row__offset-2">
                    <div class="grid_6">
                        <p class="indents-3">Resto kami memiliki ruangan yang luas dengan banyak meja dan kursi didalamnya dan juga sebuah panggung di dalamnya. anda bisa menyewa ruangan kami untuk sebuah acara. </p>
                        <div class="img"><div class="lazy-img" style="padding-bottom: 45.6140350877193%;"><img data-src="images/page-2_img01.jpg" alt=""></div></div>
                    </div>
                    <div class="grid_6">
                        <p class="indents-3">Restoran kami juga memiliki suasana romantis didalamnya karena terdapat pemain music, cocok dengan anda yang ingin datang bersama pasangan. </p>
                        <div class="img"><div class="lazy-img" style="padding-bottom: 45.6140350877193%;"><img data-src="images/page-2_img02.jpg" alt=""></div></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="parallax parallax2" data-parallax-speed="-0.4">
            <div class="container">
                <h2><em>Good Food </em>and Big Fun</h2>
                <div class="row">
                    <div class="grid_6">
                        <p class="indents-3">Ayo coba masakan kami di Makanan Pokoknya! seperti Grilled Chichen with Tomato, Salad, Frikadeller, dan Meat on Top Melon. Kami tidak jauh dari Lapangan Golf Pines dan Gold Fitness Club. </p>                        
                    </div>
                    <div class="grid_6">
                        <p class="indents-3"> Pesan online untuk membawa atau pengiriman!</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="well well__offset-4">
            <div class="container">
                <h2><em>Why</em>Choose Us</h2>
                <div class="row">
                    <div class="grid_4">
                    </div>
                    <div class="grid_4">
                        <h3>Kualitas Layanan, Makanan, Suasana, dan Nilai Uang adalah elemen utama untuk memilih restoran. </h3>
                        <p>Makanan Pokoknya! adalah tempat bagi pecinta kedamaian di mana Anda dapat memanjakan diri Anda dalam kebahagiaan yang mempesona dari kontur Lapangan Golf Pines yang luar biasa dan ketika Anda selesai bermain golf, makan di Makanan Pokoknya! Restaurant, dan bersantai di Gold Fitness Club & Spa.</p>
                    </div>
                    <div class="grid_4">
                    </div>
                </div>
            </div>
        </section>
        <section class="parallax parallax3" data-parallax-speed="-0.4">
            <div class="container">
                <h2><em>Our Clients </em>Say</h2>
                <div class="row">
                    <div class="grid_4">
                        <h3>Pelanggan Di resto kami </h3>
                        <p>rasanya seperti adan menjadi ironmen.</p>
                        <p class="client"><em>Shava</em>Client</p>
                    </div>
                    <div class="grid_4">
                        <h3>Pelanggan Di resto kami </h3>
                        <p>Dengan nama nama makanan yang unik saya jadi tertarik untuk mencoba semua makanannya dan ternyata luar biasa!.</p>
                        <p class="client"><em>Fadhil</em>Client</p>
                    </div>
                    <div class="grid_4">
                        <h3>Pelanggan Di resto kami </h3>
                        <p>Disini makanan nya enak dan menarik, serta namanya makanan nya lucu-lucu jadi menarik ingin membelinya</p>
                        <p class="client"><em>Bagas</em>Client</p>
                    </div>
                </div>                
                <div class="decoration"><a href="#" class="btn">Read more</a></div>
            </div>
        </section>
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="container">
            <ul class="socials">
                <li><a href="https://www.facebook.com/jihad.haidar.5095?mibextid=ZbWKwL" class="fa fa-facebook"></a></li>
                <li><a href="http://WWW.instagram.com/sleepydarr_/" class="fa fa-instagram"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>
            <div class="copyright">© <span id="copyright-year"></span> |
                <a href="#">Muhammad Haidar Jihad Izzuddin</a>
            </div>
        </div>
        <div class="tm"><a href="#"><img src="#" alt=""></a></div>
    </footer>
</div>

<script src="js/script.js"></script>
</body>
</html>